/*FONCTIONNEMENT*/

.item {
  display: flex;
  margin: auto;
  margin-bottom: 25px;
  width: 90%;
  height: 40px;
  padding: 15px 0px;
  position: relative;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  list-style-type: none;
  box-shadow: 8px 8px 12px #dfe6e9;
  font-family: "roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  border-radius: 20px 20px 20px 20px;

}

/*OVERBTN*/
.item:hover {
  background-color: #ff79da21;
  color: #9356DC;
}


/*CHIFFRE*/

.step {
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding: 4px;
  background-color: #9356dc;
  text-decoration-color: white;
  border: none;
  color: white;
  position: absolute;
  left: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 17px;
  height: 17px;
  border-radius: 90px;
}

/*TITRE*/

.titre_fct {
  display: block;
  margin-top: 43px;
  margin-left: 5%;
  font-family: "roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

/*LOGO*/
.icon {
  font-size: 20px;
  position: relative;
  left: -10px;
}

.icon:hover {
  color: #9356DC;
}

/*TXT*/
.label {
  display: block;
  font-family: "roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 2rem;
}

.fa-mobile-alt {
  padding-left: 20px;
}