/*  HEADER  */

header {
	position: relative;
	display: flex;
	justify-content: center;
	box-shadow: 0 5px 5px 0 rgba( 0, 0, 0, 0.1);
}

/*  Location*/

.concept {
	padding-bottom: 20px;
	text-align: center;
	justify-content: center;
align-items: center;
text-align: center;
font-family: "roboto", sans-serif;
font-weight: 300;
font-size: 18px;
background-color: #f2f2f2;
color: black;
}

.location {
  background-color: #f0f0f0;
  background-color: #e9e9ed;
}

.location .icon {
padding: 15px 15px 15px 0;
}

.concept-title {
  padding: 0 40px;
}

.concept-description {
  padding: 0 30px;
}

.lighter {
  font-weight: lighter;
}

h4, p {
	margin: 0;
}

justify-content: center;
align-items: center;
text-align: center;
font-family: "roboto", sans-serif;
font-weight: 300;
font-size: 18px;
background-color: #f2f2f2;
color: black;