/*  IMAGE */
.menuRestaurantImage {
object-fit: cover;
width: 100%;
max-height: 30rem;}

/*  MENU */

.menuHeader {
 box-shadow: none !important;
 font-family: "Shrikhand", cursive;
 padding-top: 20px;
}


.Menurestaurants {
border-radius: 4rem 4rem 0 0;
background: whitesmoke;
position: relative;
margin-top: -4rem;
box-shadow: none !important;

}

.menurestaurantsTitre {
font-size: 1.5rem;
box-shadow: none;
padding-right: 80px;
padding-top: 10px;
font-weight: lighter;

}
.Menurestaurants i {
left: 77% ;
font-size: 26px ;

}

.underline-h2 {
width: 60px;
height: 0.25em;
background-color: #99e2d0;
margin: 0;
padding: 0;
}

.boutton {
display: flex;
justify-content: center; }

.menuCategoryTitle {
margin-top: 0px;
margin-bottom: 5px;
font-weight: normal;
margin-top: 40px;
}

.menu__entrées ul{
padding-left: 0px;
}


.menu__entrées__repas {
  list-style-type: none;
  width: 100%;
  height: 70px;
  margin-bottom: 14px;
  border-radius: 12px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 8px 8px #ebebeb;
  box-shadow: 0px 8px 8px #ebebeb;
  position: relative;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  -webkit-animation: apparition_progressive 2000ms 50ms;
animation: apparition_progressive 2000ms 50ms;
  animation-fill-mode: none;
-webkit-animation-fill-mode: backwards;
animation-fill-mode: backwards;

}
.menu__entrées__repas:hover {
  cursor: pointer;
}

.menu__entrées__repas__description__prix {
font-weight: bold;
display: flex;
justify-content: flex-end;
align-items: flex-end;
padding-left: 0.5rem;
}

.menu__entrées__repas__description
{
background-color: white;
padding: 1rem;
display: flex;
border-radius: 0.75rem;
margin: 1rem 0;
box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
overflow: hidden;
cursor: pointer;
animation: itemAppear 0.6s;
 animation-timing-function: ease;
 animation-delay: 0s;
 animation-fill-mode: none;
animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
animation-fill-mode: both;
transform: scale(0);
max-width: 100%;
}

.submenus {
display:flex;
flex-wrap: wrap;
justify-content: space-around;
}
.submenus{

max-width: 100%;
overflow: hidden;
padding: 20px;
}

.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
  align-self: flex-start;
}

.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
  }

  .delay-0 {
  animation-delay: 0s;}


.menuItem {
  background-color: white;
  display: flex;
  border-radius: 0.75rem;
  margin: 0.5rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: none;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
  min-width: 20EM;
}
.submenu
{
	align-items: center;
max-width: 100%;
flex-direction: column;
display: flex;
}

.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  padding: 0.8rem;
}

.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.menuItem__description {

    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.8rem;
}

.delay-1 {
  animation-delay: 0.1s;
}
  .delay-2 {
  animation-delay: 0.2s;
}

.btnresto {
display: flex;
text-decoration: none;
justify-content: center;
padding: 3rem 0;
}

.menuItem .menuSelection {
background: #99e2d0;
cursor: pointer;
height: auto;
width: 0;
opacity: 0;
display: flex;
align-items: center;
justify-content: center;
transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out; }


.fa-check-circle {
  transform: rotate(359deg);
  transition: transform 700ms;
}

.menuItem:hover .menuSelection {
  opacity: 100%;
  width: 5.6rem;
}

.menuItem .menuSelection .material-icons {
  color: white;
  transform: rotate(360deg);
  transition: 0.4s ease-in-out;
}

.menuItem:hover .material-icons {
  transform: rotate(0deg);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  transform: rotate(360deg);
}


/*animation*/

@keyframes itemAppear {
	  0% {
  transform: scale(0);
}
100% {
  transform: scale(1);
}