@import url("./chargement.css");
@import url("./header.css");
@import url("./boutton_R.css");
@import url("./body.css");
@import url("./footer.css");
@import url("./fct.css");
@import url("./Restaurants.css");
@import url("./menuRestaurant.css");



/*  TITRE  */
.titre_menu {
	font-family: 'shrikhand';
	font-size: 27px;
}

.sous_titres {
	font-family: 'roboto';
	font-weight: lighter;
	border-bottom: 2px solid;
	width: 13%;
	padding-bottom: 1%;
	font-size: 20px;
	margin-top: 5%;
}

.footer {
	background-color: #353535;
}

/*  MAIN  */

main {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: inherit;
	justify-content: center;
}

:root {
	--purple: #9356DC;
	--pink: #FF79DA;
	--teal: #99E2D0;
}

	{
	box-sizing: border-box;
}

@media max